<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <button id='btn' (click)="saveTutorial()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4 id= 'success-text'>Submitted successfully!</h4>
      <h5>Title</h5>
      <p>{{tutorial.title}}</p>
      <h5>Description</h5>
      <p>{{tutorial.description}}</p>
      <button id="add-btn" class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
